$white: #ffffff;
$bodyColor: #f4f4f4;
$lightBlue: #12a3d6; 
$blue: #2190c1;
$darkBlue: #2e3e4f;
$orange: #f98561;
$navText: #606060;
$mainText: #9fa2a6;
$aboutText: #72777f;
$dividerLine: #d9d9d9;
$footerText: #a3afb2;