#header {
	.carousel-indicators {
		text-align: right;
	}
	.carousel-inner {
		.item {
			position: relative;
			img {
				width: 100%;
				height: 600px;
			}
		}
		.text-slider {
			position: absolute;
			top: 20%;
			text-align: center;
			width: 100%;
			h1 {
				text-transform: uppercase;
			}
			p {
				margin: 4em 0;
			}
			input {
				padding-left: 8%;
				padding-right: 8%;
			}
		}
	}
}
#services {
	text-align: center;
	position: relative;
	#servicesHead {
		position: absolute;
		top: -2.5em;
		left: 45%;
	}
	h4 {
		text-align: center;
		font-weight: bold;
	}
	.servicesIcon {
		@extend .icon;
		background-image: url('../img/services.png'); 
	}
	#webDesign {
		background-position: -10px 0;
	}
	#searchOptim {
		background-position: -275px 0;
	}
	#onlineShop {
		background-position: 400px 0;
	}
	#socialMedia {
		background-position: 130px 0;
	}
}
#portfolio {
	background-color: $darkBlue;
	.row:first-of-type {
		margin-bottom: 4%;
		a {
			margin: 1em 0;
		}
	}
	.portfolioImg {
		a {
			display: block;
			background-image: url('../img/potfolioImg.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 100%;
			max-width: 290px;
			height: 225px;
			margin: auto;
			position: relative;
			&:after {
				content: '';
				display: block;
				width: 55px;
				height: 40px;
				background-image: url('../img/portfolioIcon.png');
				background-position: center;
				background-repeat: no-repeat;
				top: 40%;
				left: 40%;
				position: absolute;
			}
			&:hover:after {
				content: 'Details';
				color: $white;
				background-image: url('../img/portfolioHover.png');
				background-position: 10%;
				border: 1px solid $white;
				border-radius: 5px;
				padding: 3% 25%;
				left: 26%;
			}
		}
	}
}
/** about */
#about {
	color: $aboutText;
	.row:first-of-type {
		margin-bottom: 4%;
		p {
			text-align: center;
		}
	}
	h2.testemonial {
		text-align: center;
	}
	h3 {
		margin-top: 3em 0 2em;
		opacity: 0;
	}
	.testemonialssIcon {
		width: 80px;
		height: 80px;
		background-image: url('../img/testemonial.png');
		background-position: center;
		background-size: cover;
		display: inline-block;
		margin: 2%;
		&:hover {
			background-image: url('../img/testemonialHover.png');
		}
	}
}
/**  footer */
#footer {
	background-color: $darkBlue;
	ul + ul {
		padding-top: 2%;
	}
	#emailAdress {
		margin: 2% 0 ;
	}
	label {
		color: $blue;
	}
	.recentIcon {
		width: 55px;
		height: 55px;
		margin: auto;
		background-color: white;
	}
	.contactIcon {
		width: 40px;
		height: 40px;
		margin: auto;
		&:before {
			content: '';
			display: block;
			width: 40px;
			height: 40px;
			background-image: url('../img/contact.png');
		}
	}
	#phone2:before {
		background-position: 0;
	}
	#letter:before {
		background-position: 0 35px;
	}

}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
	#services, #about, #footer {
		.col-md-3 {
			margin: 6% 0;
		}
	}
	#portfolio {
		text-align: center;
		.row:first-of-type {
			margin-bottom: 0;
		}
		.col-md-4 {
			margin: 6% 0;
		}
	}
	#about {
		.row:first-of-type {
			margin-bottom: 0;
		}
	}
	#footer {
		text-align: center;
		h3 {
			text-align: center;
		}
	}
	#header {
		.carousel-inner {
			.item {
				font-size: 1em;
				img {
					height: 500px;
				}
			}
			.text-slider {
				h1 {
					font-size: 2em;
				}
				input {
					padding-left: 2%;
					padding-right: 2%;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	#portfolio {
		.text-right{
			text-align: center;
		} 
		.text-left {
			text-align: center;
		}
	}
	#header {
		.carousel-inner {
			.text-slider {
				input {
					margin-top: 10%;
				}
			}
		}
	}
}
@media (max-width: 480px) {
	#header {
		.carousel-inner {
			.item {
				img {
					height: 300px;
				}
			}
			.text-slider {
				p {
					font-size: 1.5em;
				}
			}
		}
	}
	#services {
		#servicesHead {
			left: 40%;
		}
	}
}
@media (max-width: 380px) {
	#services {
		#servicesHead {
			left: 30%;
		}
	}
}